<section class="content-header">
    <h1>
       {{model.name}} - <small>Posts</small> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Posts</li>
    </ol>
</section>
<section class="content">
  <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                     
	                    <span class="pull-right">
	                     {{#if model.canMarkAttendance}}
	                   {{#link-to 'group.attendance' model.id  tagName="button"  class="btn btn-default"}}
	                 Attendance
	                  {{/link-to}}
	                  {{/if}}
	                   {{#if model.isAdmin}}
	                     
	                  
	                    {{#link-to 'group.task.create'  tagName="button"  class="btn btn-default"}}
	                 Create Task
	                  {{/link-to}}
	                        
	                       {{#link-to 'group.view' model.id tagName="button"  class="btn btn-default"}}
	                  Group Details
	                  {{/link-to}}
	                  
	                     {{#link-to 'group.edit' model.id tagName="button"  class="btn btn-default"}}
	                  Edit Group
	                  {{/link-to}}
	                   {{/if}}
	                  </span>
                  
                  </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
  
  <div class="col-md-6 {{if showCreatePost 'inlinedisplay' 'nodisplay' }}">
    {{post-item-form item=newPost buttonLabel='Save Post' savePost="savePost" cancelClicked="cancelCreatePost" controllerRef=controllerRef}}
  </div>
  
  
    </div>
<hr/>
 <div class="row">
{{#each feeds as |post|}}
 <div class="row">
 {{#if post.isTask}}
 {{task-item item=post editTask="editTask" deletePost="deletePost" group=model }}
 {{else if post.isPost}}
{{post-item item=post updatePost="savePost" deletePost="deletePost" group=model }}
{{else if post.isSchedule}}
	{{schedule-item item=post updatePost="savePost" deletePost="deletePost"  }}
{{/if}}
</div>   
{{/each}}

{{#if noRecords}}
 <div class="row">
There are no posts in this group.
 </div>
 {{/if}}

</div>     
</section>       