<section class="content-header">
    <h1>
         Posts 
        <small>{{model.name}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Posts</li>
    </ol>
</section>
<section class="content">
  <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">{{model.name}} - Posts 
                      {{#if model.isAdmin}}
	                    <span class="pull-right">
	                      <button type="button" class="btn btn-default {{if showCreatePost 'nodisplay'  'inlinedisplay' }}" {{action 'showCreatePostAction' }}>Create Post</button>
	                        <button type="button" class="btn btn-default {{if showCreateTask 'nodisplay'  'inlinedisplay' }}" {{action 'showCreateTaskAction' }}>Create Task</button>
	                        
	                       {{#link-to 'group.view' model.id tagName="button"  class="btn btn-default"}}
	                  Group Details
	                  {{/link-to}}
	                  
	                     {{#link-to 'group.edit' model.id tagName="button"  class="btn btn-default"}}
	                  Edit Group
	                  {{/link-to}}
	                  </span>
                   {{/if}}
                  </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
  
  <div class="col-md-6 {{if showCreatePost 'inlinedisplay' 'nodisplay' }}">
    {{post-item-form item=newPost buttonLabel='Save Post' savePost="savePost" cancelClicked="cancelCreatePost" controllerRef=controllerRef}}
  </div>
  
    <div class="col-md-6 {{if showCreateTask 'inlinedisplay' 'nodisplay' }}">
    {{task-item-form item=newTask buttonLabel='Save Task' saveTask="saveTask" cancelClicked="cancelCreateTask" controllerRef=controllerRef}}
  </div>
  
    </div>
<hr/>
 <div class="row">
{{#each feeds as |post|}}
 <div class="row">
 {{#if post.isTask}}
 {{task-item item=post updateTask="saveTask" deleteTask="deleteTask" group=model }}
 {{else if post.isPost}}
{{post-item item=post updatePost="savePost" deletePost="deletePost" group=model }}
{{/if}}
</div>   
{{/each}}

{{#if noRecords}}
 <div class="row">
There are no posts in this group.
 </div>
 {{/if}}

</div>     
</section>       