<div placeholder="{{placeholder}}" contenteditable="true" id="ember542"     style="display: table-row;" class="contenteditable form-control {{className}}" disabled={{disabled}}></div>
 <!--  <ul class="dropdown-menu add-mem-box post-autocomplete active {{if showAutocomplete 'display' 'nodisplay' }}" style="display: table-row;" >
 	{{#each autoCompleteList as |aItem|}}
 	<li> <a href="javascript:void(0);"  ng-class="{hovered:contact.isFocussed}"> <span class="menu-box"><img ng-src="" alt="{{contact.label}}" class="round-img"></span> <span class="menu-text">{{aItem.label}}({{aItem.email}})</span> </a> </li>
	{{/each}}
	</ul> -->
